{%- assign carousel = site.carousel_images | where: "parentid", page.objectid
%}{% assign imageitem = page
%}{% assign srcsetimg = imageitem.image
%}{% include imgsrcset.html %}
%}{% assign is_first = true
%}{% assign nextobj = carousel[0]
%}{% assign nextlink = nextobj.objectid
%}{% assign firstimgid = imageitem.objectid
%}{% assign imgid = firstimgid
%}{% assign nozoom = true
%}{% include imgbox.html
%}{% assign is_first = false
%}{% assign extrafirst = true
%}{% for image in carousel %}
{% assign next_i = forloop.index0 | plus: 1
%}{% assign prev_i = forloop.index0 | minus: 1
%}{% assign nextobj = carousel[next_i]
%}{% assign nextlink = nextobj.objectid
%}{% assign prevobj = carousel[prev_i]
%}{% assign prevlink = prevobj.objectid
%}{% assign imageitem = image
%}{% assign srcsetimg = imageitem.image
%}{% include imgsrcset.html %}
%}{% assign imgid = image.objectid
%}{% assign nozoom = true %}
{% include imgbox.html %}
{% endfor -%}
