---
layout: default
---
{% include baseurl.html
%}{%   assign parent = site.cases | where: "objectid", page.parentid | first
%}{% assign introclasses = "longtitle"
%}
    <div id="imgcol">{% assign iscarousel = page.is_carousel
    %}{% if iscarousel
    %}<div id="carousel">
      {%- include carousel.html %}
    </div>
    {% else
    %}{%   assign srcsetimg = page.image
    %}{%   include imgsrcset.html
    %}{%   assign imageitem = page
    %}
      {% include imgbox.html %}
    {% endif -%}
    </div>
    <div class="textblock" id="textcol">
      <h1>{{ page.title }}</h1>
      {{ content | markdownify }}
    </div>
    <nav id="nextprev">{% assign prevurl = page.previous.url
      %}{% assign nexturl = page.next.url %}
      {% unless page.previous.parentid != page.parentid %}
      <a href="{{ baseurl }}{{ prevurl }}" class="nextprev" id="prev">{{ site.data.i18n.previous }}</a>
      {%- endunless
      %}{% unless page.next.parentid != page.parentid %}
      <a href="{{ baseurl }}{{ nexturl }}" class="nextprev" id="next">{{ site.data.i18n.next }}</a>
      {%- endunless %}
    </nav>
